
body {
    font-size: 1.5em;
}

@media (min-width: 800px) {
    .container {
        max-width: 760px;
    }
}

body, h1, h2, h3, h4 {
    font-family: Georgia, serif;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

.main-title {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ddd;
    color: #660000;
    font-size: 3em;
}

a, a:hover {
    color: #660000;   
}

footer {
    margin-bottom: 1em;
    padding-bottom: 1em;

    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ddd;   
}
