{% extends "layout.html" %}

{% block title %}
  Über machtVZ
{% endblock %}

{% block content %}
  <p>
    machtVZ zeigt die Verbindungen zwischen Politikern der Bundespolitik, Verbänden, 
    Parteien und Firmen.
  </p>  

  <h4>Team</h4>
  <ul>
    <li>
      <a href="http://stefanwehrmeyer.com">Stefan Wehrmeyer</a>
    </li>
    <li>
      <a href="http://www.michael-hoerz.de/">Michael Hörz</a>
    </li>
    <li>
      <a href="http://github.com/LucasJ">Lucas Jacob</a>
    </li>
    <li>
      <a href="https://twitter.com/viejosaulo">Saul Lozano</a>
    </li>
    <li>
      <a href="http://pudo.org">Friedrich Lindenberg</a>
    </li>
  </ul>

  <h4>Technik</h4>
  <ul>
    <li>
      Die Quelldaten <a href="https://github.com/pudo/kompromatron/tree/master/data">gibt es hier</a>.
    </li>
    <li>
      Code: <a href="https://github.com/pudo/kompromatron">pudo/kompromatron</a>
    </li>
    <li>
      machtVZ basiert auf <a href="http://grano.cc">grano</a>.
    </li>
  </ul>

{% endblock %}

{% block js %}{% endblock %}

