{% extends "layout.html" %}

{% block title %}
  {{entity.properties.name.value}}
{% endblock %}

{% block content %}
    <h2>{{entity.properties.name.value}}</h2>
</div>
    <div class="graph" style="background-color: #eee; height: 400px"></div>
    <div class="node-title" style="position:relative; left: 10px; top: -25px">
        &nbsp;
    </div>
<div class="container">
    <table class="table table-striped">
        {% for key, prop in entity.properties.items() if key != 'name' %}
            <tr>
                <th>{{get_attribute(schemata, key).label}}</th>
                <td>{{prop.value}}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Beziehungen</h4>
    <table class="table table-striped">
        {% for relation in entity.outbound %}
            <tr>
                <td>{{get_schema(relation.schema.name).label}}</td>
                <td><a href="/entities/{{relation.target.id}}.html">{{relation.target.properties.get('name').get('value')}}</a></td>
                <td><a href="/relations/{{relation.id}}.html">Mehr&nbsp;&raquo;</a></td>
            </tr>
        {% endfor %}
        {% for relation in entity.inbound %}
            <tr>
                <td>{{get_schema(relation.schema.name).label}}</td>
                <td><a href="/entities/{{relation.source.id}}.html">{{relation.source.properties.get('name').get('value')}}</a></td>
                <td><a href="/relations/{{relation.id}}.html">Mehr&nbsp;&raquo;</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}

 {% assets output="gen/graph.js",
        "vendor/d3/d3.min.js",
        "js/granoexplorer.js"
    %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  <script>
    var domain = 'http://beta.grano.cc';
    var project = 'kompromatron';
    var seed = '{{ entity.id }}';
    Grano.graph('.graph', domain, project, seed, {
        depth: 2,
        titleSelector: '.node-title'
    });
  </script>
{% endblock %}

