{% extends "layout.html" %}

{% block title %}
  machtVZ für alle!
{% endblock %}

{% block navblock %}
  <div class="jumbotron">
    <h1>
      Macht- und Sachgeschichten
    </h1>
    <p>
      Such nach <a href="/browse.html?schema=person">Abgeordneten</a>, <a href="/browse.html?schema=organisation">Unternehmen</a> oder <a href="/browse.html?schema=lobbyorganisation">Verbänden</a>.
    </p>
  </div>
{% endblock %}

{% block content %}

  <p>
    <strong>machtVZ</strong> vereint <a href="http://www.bundestag.de/bundestag/parteienfinanzierung/fundstellen50000/2013/">die Großzügigkeit der Parteispenden</a>, <a href="http://www.bundestag.de/bundestag/abgeordnete18/nebentaetigkeit/">die Ehrlichkeit der Abgeordneten&shy;nebeneinkünfte</a> und <a href="http://www.bundestag.de/dokumente/lobbyliste/index.html">das Engagement der registrierten Lobbyverbände</a>.
  </p>

{% endblock %}

{% block js %}{% endblock %}

